#header{
    grid-area: header;
    background-color: rgb(0, 0, 0);
}
#aside-left{
    grid-area: left;
}
#main{
    grid-area: main;
}
#footer{
    grid-area: footer;
}
body{
    margin: 0;
    padding: 0;
    display: grid;
    gap: 10px;
    grid-template-areas:
    'header header header header header header header header header header header header'
    'left   left   left   left   main   main   main   main   main   main   main   main' 
    'footer footer footer footer footer footer footer footer footer footer footer footer';
}
body>*{
    background-color: bisque;
}
#logo{
    width: 100px;
}
#header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
#search-box input{
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    flex: 1;
}
#search-box button{
    padding: 10px;
    border-radius: 5px;
    outline: 0;
    background: orange;
    color: white;
    margin-left: 10px;
}
#search-box{
    width: 50%;
    display: flex;
}
#header-button ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
#header-button a{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: white;
}
#header-button a :hover{
    color: orange;
}
#header-button i{
    font-size: 30px;
}
#header-button{
    width: 300px;
}